@import '../../global/styles/init';

.stars {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.star {
  margin: 0;
  padding: 0;
  list-style: none;

  + .star {
    margin-left: 5px;
  }

  svg {
    height: 20px;
    width: 20px;

    polygon {
      fill: var(--color-limestone);
    }

    polyline {
      fill: var(--color-white-out);
    }
  }
}

.star.active {
  svg polyline {
    fill: var(--color-bright-keystone);
  }
}

.text {
  @include element-invisible;
}
