@import '../../global/styles/init';

.rating {
  @include body-xxsmall;
  position: relative;
  padding: 10px;
  border: 1px solid var(--color-white-out);
  color: var(--color-white-out);
  overflow: hidden;
}

.text {
  @include element-invisible;
}
