@import '../../global/styles/init';

.rating {
  @include body-xxsmall;
  align-items: center;
  color: var(--color-white-out);
  display: flex;
  font-weight: bold;
  height: 40px;
  justify-content: flex-start;
}

.text {
  @include element-invisible;
}
