//===========================
// Colors
//===========================
$color-red: #e50914;
$color-endless-potential: #000321;
$color-nittany-navy: #001E44;
$color-beaver-blue: #1E407C;
$color-black: #000000;
$color-gray: #424242;
$color-gray-dark: #141414;
$color-gray-mid: #bbb;
$color-white-out: #FFFFFF;
$color-old-coaly: #444444;
$color-creek: #3EA39E;
$color-creek-light: #CFECEB;
$color-creek-max-light: #EDF8F7;
$color-limestone: #A2AAAD;
$color-limestone-light: #E4E5E7;
$color-limestone-max-light: #F2F2F4;
$color-slate: #314D64;
$color-slate-light: #CCDAE6;
$color-slate-max-light: #EEF3F7;
$color-lion-shrine: #B88965;
$color-lion-shrine-light: #F7F2EE;
$color-lion-shrine-max-light: #FDFBF5;
$color-pa-sky: #009CDE;
$color-lions-roar: #BF8226;
$color-lions-roar-light: #F9EDDC;
$color-lions-roar-max-light: #FFFAF2;

// Elements
$color-pa-link: #005FA9;
$color-pa-link-light: #CCF0FF;
$color-button-hover: linear-gradient(to bottom, var(--color-pa-sky), var(--color-beaver-blue));

// Alerts
$color-original-87: #BC204B;
$color-bright-keystone: #FFD100;
$color-futures-calling: #99CC00;
