$color-black: #000;
$color-white: #fff;
$color-cardinal: #b81c25;
$color-bright-red: #b81d24;
$color-pacific-blue: #0099cc;
$color-rio-grande: #c4d600;
$color-oslo-gray: #888b8d;
$color-white: #FFF;
$color-black: #000;

// Grays
$color-tundora: #464646;
$color-silver: #bbb;
$color-alto: #ddd;
$color-gallery: #eee;
$color-alabaster: #f7f7f7;