@mixin breakpoint($viewport) {
  @media screen and ( min-width: $viewport ) {
    @content;
  }
}

// Makes an element visually hidden, but accessible.
// @see http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

// Convert a hex value to comma-delimited rgb values.
// We use this as a fallback to our color variables
// for things like RGBA opacity.
@function derive-rgb-values-from-hex($hex) {
  @return red($hex), green($hex), blue($hex);
}

@mixin gradient-button {
  --padding-y: 4px;

  @include title-small;
  font-style: italic;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  padding: var(--padding-y) 44px;
  border: 2px solid var(--color-pa-link-light);
  transition: 1s background-image;
  background:
    linear-gradient(
      to bottom,
      transparent,
      transparent
    )
  ;
  color: var(--color-pa-link-light);
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    color: white;
    background-image: $color-button-hover;
  }
}
