@import '../../global/styles/init';

.Button {
  @include gradient-button;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:link,
  &:visited,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }

  &::after {
    content: '>';
    display: inline-block;
    margin-left: 5px;
  }
}
