@import '../../global/styles/init';

.Button {
  @include gradient-button;
  background-color: $color-red;
  appearance: none;

  &:link,
  &:visited,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }

  &::after {
    content: '>';
    display: inline-block;
    margin-left: 5px;
  }
}
