@import '../../global/styles/init';

.gridItem {
  display: flex;
  flex-direction: column;
  margin-right: .5rem;
  position: relative;
  transition: transform .3s;
  width: 25%;

  &:hover,
  &:focus {
    cursor: pointer;
    transform: scale(1.05);
    z-index: 10;

    .details {
      display: flex;
      opacity: 1;
    }
  }
}

.title {
  color: $color-white;
  font-family: 'Helvetica';
  display: inline-block;
  text-decoration: none;
  margin-bottom: 1rem;
  margin-top: 0;
}

.details {
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  opacity: 0;
  position: absolute;
  transition: opacity .3s;
  top: 0;
  width: 100%;
  z-index: 2;

  &::after {
    background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, .6054796918767507) 75%,
      rgba(0, 0, 0, 0) 100%
    );
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
  }
}

.detailsInner {
  color: $color-white;
  padding: 1.5rem;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ratingStarsContainer {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding-left: .5rem;
}

.rating {
  margin-right: 1rem;
}

.description {
  font-family: $font-primary;
  font-size: 1.4rem;
}
