@import '../../global/styles/init';

.hero {
  overflow: hidden;
  width: 100%;

  h1,
  h2 {
    margin-bottom: 0;

    @include breakpoint($bp-md) {
      font-size: 60px;
      margin-bottom: inherit;
    }
  }

  h2 {
    font-size: 16px;
  }
}

.inner {
  position: relative;
  transition: all 0.3s;
  z-index: 1;

  &::after {
    background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, .6) 75%,
      rgba(0, 0, 0, 0) 100%
    );
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.5;
  }
}

.content {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
}

.link {
  text-decoration: none;
}

.starAndRatingContainer {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.rating {
  margin-right: 30px;
}
