.hero {
  overflow: hidden;
  width: 100%;

  &:hover {

    .content {
      opacity: 1;
    }
  }
}

.inner {
  position: relative;
  transition: all 0.3s;
  z-index: 1;

  &::after {
    background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, .6) 75%,
      rgba(0, 0, 0, 0) 100%
    );
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.5;
  }
}

.content {
  position: absolute;
  height: 100%;
  padding: 5%;
  z-index: 1;
  transition: opacity .3s;
}

.link {
  text-decoration: none;
}

.starAndRatingContainer {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.rating {
  margin-right: 30px;
}
