@import '../../global/styles/init';

.Card {
  display: flex;
  flex-direction: column;
  flex: 1 1 20%;
  margin: 0 5px;
}

.cardMedia {

  img {
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.5);
    }
  }
}
.cardText {
  padding: 10px 20px 20px;
}

.cardTitle {
  margin-bottom: 1rem;
  margin-top: 0;
}

.cardRating {
  align-items: center;
  background-color: black;
  display: flex;
}

.cardTitle {
  @include body-xxsmall;
}
