@import '../../global/styles/init';

.movieList {
  border-bottom: 2px solid $color-gray;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: $bp-md;
  padding-top: 10px;
  padding-bottom: 40px;

  @include breakpoint($bp-md) {
    max-width: $bp-lg;
  }

  @include breakpoint($bp-lg) {
    max-width: $bp-xlg;
  }

  &:last-child {
    border: 0;
  }
}

.movieListGenre {
  color: var(--color-white-out);
}

.movieListItems {
  display: flex;
  flex-direction: column;

  @include breakpoint($bp-xsm) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @include breakpoint($bp-sm) {
    justify-content: flex-start;
  }

  @include breakpoint($bp-xlg) {
    justify-content: space-between;
  }
}
