@import '../../global/styles/init';

.container {
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
  padding-left: 10%;
  padding-right: 10%;
  background-color: var(--color-white-out);
}

.button {
  display: flex;
  align-items: center;
  background: none;
  border: 0;
  cursor: pointer;
}

.icon {
  margin-right: 15px;

  &.favorited {
    color: var(--color-original-87);
  }
}
